
.wrapper{
 padding:2rem;
 margin:0 5rem;
}

.container{
  padding:1rem;
  border:1px solid rgb(197, 197, 197);
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgb(231, 231, 231);;
}

.link{
 color:white;
 text-decoration: none;
}

.link:hover{
 color:white;
 text-decoration: none;
}

/* view cart button */


.viewcart__container{
  text-align: center;
  margin:1rem;
}

.viewcart_btn{
  margin:0 auto;

}

/* items containetr */
.items{
  display:flex;
  padding-top:0.5rem ;
  position: relative;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.item{
 border-radius: 4px;
padding-top: 0.5rem;
}

.item img{
 width:200px;
 height:150px;
 padding-bottom: 1rem;
 border-radius: 4px;
}

.details {
 padding:0rem 1rem;
 flex:1;
}

.details p{
 margin:0;
 font-weight: 500;
}

.delete{
 position: relative;;
 top:10px;
 float:right;
 border: 1px solid grey;
}


/* empty container */
.empty__container{
 border-radius: 4px;
 background-color: rgb(150, 219, 240);
 padding:1rem;
 text-align: center;
 margin-bottom:1rem;
 font-weight: bold;
 font-size:1.2rem;
 color:rgb(51, 47, 47);
}


/* checkout container */
.checkout__container{
 padding:0.5rem;
 border:1px solid rgb(197, 197, 197);
  border-radius: 4px;
  margin:1rem 0;
  box-shadow: 0px 0px 3px rgb(218, 218, 218);;
}

.checkout__container p{
 margin:0;
 
}
